.Container {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.Form {
    margin-top: 10px;
}

.Nav {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    background: #282c34;
    color: white;
    padding: 5px;

}

.Nav div {
    margin: 10px;
}

.Nav-Links {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3em;
    padding: 5px;
}

.Nav-Links > * {
    margin: 10px;
    color: #61dafb;

}

.alert-hidden {
    visibility: hidden;
    position: relative;
}
