.Container {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.Form {
    margin-top: 10px;
}

.Nav {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    background: #282c34;
    color: white;

    padding: 5px; /* this */

}

.Nav div {
    margin: 5px; /* and that, will result in a 10px gap */

}

.App-link {
    color: #61dafb;
}

.Nav-Links {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3em;
}

.alert-hidden {
    visibility: hidden;
    position: relative;
}


.alert-show {
    position: relative;
    opacity: 0;
    width: 0;
    height: 0;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}

/*.alert-show {*/
/*    opacity: 1;*/
/*    animation: 3s show both;*/
/*}*/

/*@keyframes show {*/
/*    100% {*/
/*        opacity: 0*/
/*    }*/
/*}*/
